<div id="hero-download">
  <div id="intro-graphic-background" class="hide-on-ios hide-on-android"></div>
  <div class="container">
    <div class="row">
      <? include intro/standard ?>
      <? include intro/graphic ?>
      <? include intro/ios-safari ?>
      <? include intro/android ?>
      <? include intro/samsung ?>
    </div>
    <? include intro/notices ?>
  </div>
</div>
<? include intro/ios-not-safari ?>
