<div id="special-features" class="container">
  <section class="section">
    <div class="row">
      <div class="column one-half">
        <img
          src="/img/website-with-abp-for-chrome.svg"
          alt="{{ special-features-image-alt[alt text] Block ads in Chrome }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ special-features-heading[heading] Adblock Plus for Chrome's special features }}
        </h2>
        <p>
          {{ special-features-paragraph-1 Adblock Plus blocks all annoying and intrusive advertisement, including pop-ups, pre- and mid-roll video ads on Youtube, tracking, and malicious malware. }}
        </p>
      </div>
    </div>
  </section>
</div>
