<div id="supporting-websites" class="container">
  <section class="section">
    <div class="row">
      <div class="column one-half">
        <img
          src="/img/browsing-experience-with-ABP.svg"
          alt="{{ supporting-websites-image-alt[alt text] Support websites with the Acceptable Ads initiative }}">
      </div>
      <div class="column one-half content">
        <h2>
          {{ supporting-websites-heading[heading] Supporting websites and creators }}
        </h2>
        <p>
          {{ supporting-websites-paragraph-1 Adblock Plus comes by default with Acceptable Ads enabled, though this can be turned off easily at any time. By using the Acceptable Ads feature, you are still blocking annoying and intrusive ads, but allowing some non-intrusive advertisement. This allows content producers to receive monetization for their work and helps create an environment of fairness and sustainability for user, advertiser, and creator alike. <a href="acceptable-ads" title="{{ learn-more-title[link title] Learn more information about Acceptable Ads }}">Learn more</a> }}
        </p>
      </div>
    </div>
  </section>
</div>
